In [1]:
import numpy as np 
import pandas as pd

In [2]:
df=pd.read_csv('quikr_car.csv')

In [3]:
df

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel
...,...,...,...,...,...,...
887,Ta,Tara,zest,"3,10,000",NaN,NaN
888,Tata Zest XM Diesel,Tata,2018,"2,60,000","27,000 kms",Diesel
889,Mahindra Quanto C8,Mahindra,2013,"3,90,000","40,000 kms",Diesel
890,Honda Amaze 1.2 E i VTEC,Honda,2014,"1,80,000",Petrol,NaN
891,Chevrolet Sail 1.2 LT ABS,Chevrolet,2014,"1,60,000",Petrol,NaN

In [210]:
# df['year'].value_counts()
# df.shape
df=df[df['year'].str.isnumeric()]

In [211]:
df.shape

(842, 6)

In [212]:
df['name']=df['name'].str.split().str.slice(0,3).str.join(" ")

In [213]:
# df

In [214]:
df['year'].value_counts()

year
2015    117
2014     94
2013     94
2016     76
2012     75
2011     60
2009     56
2017     56
2010     44
2018     34
2006     22
2019     22
2007     19
2008     16
2005     13
2003     13
2004     12
2000      7
2002      5
2001      5
1995      2
Name: count, dtype: int64

In [215]:
df['year']=df['year'].astype(int)

In [216]:
# df.info()
df=df[df['Price']!='Ask For Price']

In [217]:
# df['Price'].value_counts()

In [218]:
df['Price']=df['Price'].str.replace(',','')

In [219]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 819 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        819 non-null    object
 1   company     819 non-null    object
 2   year        819 non-null    int32
 3   Price       819 non-null    object
 4   kms_driven  819 non-null    object
 5   fuel_type   816 non-null    object
dtypes: int32(1), object(5)
memory usage: 41.6+ KB

In [220]:
df['Price']=df['Price'].astype(int)

In [221]:
df = df.dropna()

In [222]:
# df.isna().sum()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 816 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        816 non-null    object
 1   company     816 non-null    object
 2   year        816 non-null    int32
 3   Price       816 non-null    int32
 4   kms_driven  816 non-null    object
 5   fuel_type   816 non-null    object
dtypes: int32(2), object(4)
memory usage: 38.2+ KB

In [223]:
# df

In [224]:
df['kms_driven']=df['kms_driven'].str.replace(' kms','')

In [225]:
df['kms_driven']=df['kms_driven'].str.replace(',','')

In [226]:
# df['kms_driven'].value_counts()

In [227]:
df['kms_driven']=df['kms_driven'].astype(int)

In [228]:
# df['name'].unique()

In [229]:
df=df.reset_index(drop=True)

In [230]:
df

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
811      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
812          Tata Indica V2      Tata  2009  110000       30000    Diesel
813    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
814            Tata Zest XM      Tata  2018  260000       27000    Diesel
815      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

In [231]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.compose import make_column_transformer

In [232]:
from sklearn.preprocessing import OneHotEncoder

In [233]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import r2_score

In [234]:
pip install --upgrade pip

Requirement already satisfied: pip in c:\users\sarthak garg\appdata\local\programs\python\python311\lib\site-packages (23.3)Note: you may need to restart the kernel to use updated packages.

In [235]:
x=df[['name','company'	,'year','kms_driven','fuel_type']]

In [236]:
y=df['Price']

In [237]:
# y
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=651)

In [238]:
y_train

712     200000
113     299999
789     265000
238     855000
502      40000
        ...
44      499999
384      75000
200     450000
666      85000
223    2100000
Name: Price, Length: 652, dtype: int32

In [239]:
!pip install pipe

Requirement already satisfied: pipe in c:\users\sarthak garg\appdata\local\programs\python\python311\lib\site-packages (2.0)

In [240]:
lr=LinearRegression()
import pipe
ohe=OneHotEncoder()
ohe.fit(x[['name','company','fuel_type']])

OneHotEncoder()

In [241]:
transformer=make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','company','fuel_type']),remainder='passthrough')

In [242]:
from sklearn.pipeline import Pipeline
pipe=make_pipeline(transformer,lr)

In [243]:
pipe.fit(x_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [244]:
y_pred=pipe.predict(x_test)

In [245]:
# accuracy_score(y_test,y_pred)
# y_pred
y_test=np.array(y_test)

In [246]:
# y_test

array([ 274999,  474999,  110000,   52000,  385000,   85000,   85000,
        400000,  340000,  180000,  270000, 1000000,  379000,  170000,
        195000,  480000,   88000, 1000000,   60000,  419000,  495000,
        345000,  550000,  381000,  265000,  230000,  499999,  245000,
        444999,  150000,  180000,  410000,  130000,  575000,  140000,
        401919,  370000,  220000,  499999,  310000,   80000,   95000,
        120000,  699000,  244999,  290000,   95000,  249999,  175000,
        895000,  350000,   80000,  470000,  550000,  644999,   60000,
         99999,  450000,  210000,  390000,  760000,   40000,  284999,
         72500,  149000,  140000,  385000,  150000,  220000,  220000,
        300000,  284999,  244999,  270000,  380000,  344999,  160000,
        150000,  330000,  599999,  135000, 1225000,  235000, 3100000,
        300000,   65000,  225000,  130000,  100000,  199000,  159500,
        550000, 2900000,  325000,  385000,  375000,  450000,  299999,
        250000,  450000, 1891111,  190000,  400000,  750000,  224999,
        120000,  215000,   95000,  650000,  110000,   42000, 1499000,
        140000,  115000,  219000,  730000,  125000,  575000,  265000,
       1490000,  444999,  100000,  540000,  230000,  182000,   95000,
        130000,  570000,  365000,  600000,  195000,  150000,  349999,
        275000,  900000,  315000, 1130000,  280000,  250000,  210000,
        195000,  220000, 1200000,  389700,  199000,  320000,   75000,
        635000,  199999,  750000,  599999,  485000,  250000,  525000,
         30000,  210000,  600000,  270000,  280000,  350000,  900000,
        499999,  580000,  400000])

In [247]:
r2_score(y_test,y_pred)
# precision_score(y_test,y_pred)

0.5261885921405509

In [248]:
# y_pred

array([ 4.52871672e+05,  5.15037597e+05,  2.81708878e+04, -3.35982449e+04,
        4.28050423e+05,  1.15992269e+05,  7.70101615e+05,  1.87595011e+05,
        4.82370904e+05,  6.33800671e+05,  1.34489696e+05,  1.08503726e+06,
        7.00811887e+05,  3.01315000e+05,  5.42067887e+05,  6.28828859e+05,
        2.26199898e+05,  6.03614043e+05,  7.56238894e+04,  4.86595877e+05,
        5.53955130e+05,  4.16669774e+05,  7.20015942e+05,  2.81491806e+05,
        4.79516377e+05,  2.08489533e+05,  3.66117193e+05,  5.17124702e+05,
        5.24833206e+05,  3.11565260e+05,  3.96902576e+05,  3.57792511e+05,
        8.82542166e+04,  5.61680802e+05,  2.02117073e+04,  5.09945791e+05,
        5.46493427e+05,  2.04885679e+05,  5.03523948e+05,  2.68924890e+05,
       -1.95786443e+05,  1.02117868e+05,  2.91042395e+05,  1.17253984e+06,
        4.69916071e+05,  3.51176322e+05,  1.37248549e+05,  2.88059359e+05,
        1.46589032e+05,  6.33547948e+05,  4.81169768e+05,  1.62257382e+05,
        4.85777663e+05,  5.61026231e+05,  3.67426335e+05, -1.03510656e+05,
        2.79065738e+05,  3.71309063e+05,  2.61233860e+05,  2.99613139e+05,
        3.97010152e+05, -3.33796679e+04,  2.48694853e+05, -5.87323897e+04,
        1.91866925e+05,  3.29945637e+05,  6.68866157e+05,  1.39306833e+05,
        4.71365862e+05,  1.70368286e+05,  3.84890645e+05,  2.48694853e+05,
        3.41080485e+05,  2.22946329e+05,  4.22733248e+05,  2.79729189e+05,
        1.38671130e+05,  2.88539307e+05,  6.12758357e+05,  5.82206911e+05,
        1.91294625e+05,  1.02694996e+06,  2.44373160e+05,  1.34549413e+06,
        2.71159291e+05, -1.14392619e+05,  2.35408795e+05, -2.26663041e+03,
        2.88954425e+05,  2.56027092e+05,  3.75759117e+05,  5.50800221e+05,
        7.41077016e+05,  3.58856190e+05,  6.68866157e+05,  5.27993306e+05,
        3.30785319e+05,  5.03041011e+05,  2.67295900e+05,  4.80900940e+05,
        2.24022826e+06,  6.31527081e+05,  3.00945241e+05,  7.48276740e+05,
        5.26222303e+05,  2.64104865e+05,  1.85436591e+05,  1.57694183e+04,
        5.98316768e+05,  4.60592525e+04, -2.14203207e+05,  9.90804557e+05,
        2.11267426e+05,  2.20323218e+05,  1.73068392e+05,  7.56092047e+05,
        7.34660610e+04,  5.83640282e+05,  4.15234704e+05,  1.55067935e+06,
        4.57753015e+05, -3.85924241e+04,  6.01622854e+05,  1.73068392e+05,
        3.03525343e+05,  9.28081740e+02, -1.44594776e+05,  4.97125304e+05,
        4.25609933e+05,  1.00642837e+06,  5.42067887e+05, -1.30652119e+05,
        4.86556463e+05,  2.17123274e+05,  5.25923518e+05,  3.97572700e+05,
        7.03735368e+05,  3.63233728e+05,  3.29874330e+05,  1.18604669e+05,
        2.30809027e+05,  2.93696519e+05,  8.81643044e+05,  6.29810716e+05,
        1.38552489e+05,  4.41272558e+05,  1.70286464e+05,  6.29739408e+05,
        4.51470194e+05,  7.80174358e+05,  4.95906330e+05,  6.60603745e+05,
        5.10429761e+05,  5.93111981e+05, -5.91463067e+04,  2.25785522e+05,
        7.16816083e+05,  4.15466454e+05,  3.63233728e+05,  5.62255856e+05,
        5.97704123e+05,  7.49167832e+05,  5.77542661e+05,  6.19366409e+05])

In [265]:
l=[]
# l=[]
for i in range (1000):
    x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.10,random_state=i)
    pipe.fit(x_train,y_train)
    y_pred=pipe.predict(x_test)
    # print(r2_score(y_test,y_pred))
    # l=[]
    l.append(r2_score(y_test,y_pred))

In [266]:
ind=np.argmax(l)

In [267]:
ind

247

In [268]:
print(l[ind])

0.8604434835257248

In [253]:
# print(l)

In [254]:
l.sort(reverse=True)

In [255]:
# print(l)

In [279]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.10,random_state=ind)
pipe.fit(x_train,y_train)
y_pred=pipe.predict(x_test)
# l.append(r2_score(y_test,y_pred))

In [293]:
# from sklearn.metrics import r2_score

# Assuming y_pred and y_test are your predicted and actual values
score = r2_score(y_test, y_pred)

In [294]:
score

0.8604434835257248

In [288]:
# y_pred

array([ 357886.1215912 ,  186310.79850593,  234913.45843681,
        172642.18674339,  493935.01452541,  336506.9978732 ,
        319206.53390845,  289010.67039029,  334014.69878306,
        333345.98389155,  174704.24354847,  593443.78334083,
         50914.55597051,  237950.29212089,  417457.36233751,
        346551.01382732,  361551.0010679 ,  342566.79600679,
        337553.14210431,   97297.12104039,  207078.49285133,
        330839.37040049,  465240.18208162,  399838.3362057 ,
        911555.33119258,  287832.92051148,  721255.32481265,
        607761.506785  ,  270190.18118131,  187993.88310064,
         59172.35423822, 1119423.91333444,   30307.63545645,
        359415.0077786 ,  774848.74016504,  342566.79600679,
        457764.74381611,  133154.00449043,  447420.87478086,
        553823.03881603,  267485.56163088,  180219.65207247,
        521122.85519588,  222101.54670281,  256410.59755893,
        222721.71017192,  155745.52262875,  202393.48843185,
       2289103.6288923 ,  251854.14947261, 1951154.99193399,
        554298.85224377, 1512139.22573133,  498071.40690766,
        630177.56900004,  455306.4415872 ,  103385.86029239,
        150572.54759607,  375419.61292453,  255210.53257659,
        240740.8274361 ,  298865.48630227,  548578.34836052,
        232811.48959467,  321957.28905955,  596999.79482345,
        425965.90892706,  620401.78507973, 2289103.6288923 ,
        299615.94818559,  601246.34889415, 1505664.37128767,
        223222.20136349,  413694.25128817,  546214.12648618,
        314109.85203376,  383493.54424533,  405916.72867944,
        521122.27658861,  179473.00566807,  256410.59755893,
       2289103.6288923 ])

In [283]:
# y_test

118     270000
549     225000
733     265000
718      71000
156     275000
        ...
99      525000
814     260000
416     195000
203     365000
285    1891111
Name: Price, Length: 82, dtype: int32

In [295]:
import pickle 
pickle.dump(pipe,open('Model.pkl','wb'))

In [301]:
pipe.predict(pd.DataFrame([['Maruti Suzuki Swift','Maruti',2019,100,'Petrol']],
                         columns=['name','company','year','kms_driven','fuel_type']))

array([581315.30742248])